* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color:black;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    z-index: 100;
}
.navbar-brand{
    width: 100px;
    height: 100%;
}
.brand-logo{
    width: 100%;
    height: 100%;
}
.language-dropdown{
    background: transparent;
    border: none;
    color: white;
    /* background: black; */
}
.language-dropdown:focus{
    outline: none;
}
.dropdown-container{
    border: 1px solid white;
    padding: 0.4rem;
    background: rgba(0,0,0, 0.4);
}
.signin-button{
    background-color: #dc030f;
    color: white;
    padding: 0.25rem .5rem;
    border: 1px solid #dc030f;
    border-radius: 3px;
}
.navbar-nav-items{
    display: flex;
    gap: 15px;
}
.hero-bg-img-container{
    width: 100%;
    height: 75vh;
}
.hero-bg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-bg-overlay{
    position: absolute;
    inset: 0; 
    width: 100%;
    height: 75vh;
    background: rgba(0,0,0, 0.4);
    /* this is equal to saying top : 0 right: 0 etc */
}
.hero-card{
    position: absolute;
    top: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 120%;
}
@media (min-width: 768px) {   
    .hero-bg-img-container{
        height: 100vh;
    }
    .hero-bg-overlay{
        height: 100vh;
    }
    .hero-card{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .hero-title{
        font-weight: 600;
        font-size: 350%;
    }
    .hero-subtitle, .hero-description{
        font-size: 150%;
        font-weight: 400;
    }
}
@media (min-width: 1024px) {   
.navbar{
    padding: 2% 5%;
}
.navbar-brand{
    width: 180px;
}
.signin-button{
    font-size: 16px;
    padding: 6px 16px;
}
.dropdown-container{
    padding: 7px 3px;
    border-radius: 2px;
}
.navbar-nav-items{
    gap: 30px;
}
}

@media (min-width: 1254px) {   
}